<div class="dashboardMain">
  <div class="dashboardBox boxInfo">
  </div>
  <div class="dashboardBox boxTransportations">
    <p id="titleCardTransportations">Transportation</p>
  </div>
  <div class="dashboardBox boxAccomodations">
    <p id="titleCardAccomodations">Accomodations</p>
  </div>
  <div class="dashboardBox boxExpenses">
    <p id="titleCardExpenses">Expenses</p>
  </div>
  <div class="dashboardBox boxPeople">
    <p id="titleCardPeople">Friends</p>
  </div>
  <div class="dashboardBox boxEvents">
    <p id="titleCardEvents">Activities</p>
  </div>
  <div class="dashboardBox boxPhotos">
  </div>
</div>
