<nav class="navbar navbar-transparent">
  <div class="container-fluid">
    <%= link_to root_path do%>
      <%= image_tag "Logo.png", style: "height: 50px;" %>
    <% end %>
    <div class="d-flex">

        <%= link_to "My trips", root_path, class: "btn", id: "my-trips-btn" %>


    </div>
  </div>
</nav>
