<div class="banner">
  <div class="banner-titles text-center">
    <h1 id="banner-title">Create memories, effortlessly</h1>
    <h5 id="banner-description">Momento is the ultimate trip planner to help you spend memorable moments with your loved ones</h5>
  </div>
    <%= image_tag "Friends-trip2.jpg", class:"img-banner"%>
  <div class="text-center m-5">
    <% if user_signed_in? %>
      <%= link_to "My trips", trips_path, class: "btn btn-lg btn-homepage"  %>
    <% else %>
      <%= link_to "Join us !", root_path, class: "btn btn-lg btn-homepage"  %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= render 'shared/timeline' %>
</div>
