// NAVBAR
#my-trips-btn {
  margin-right: 15px;
  border-radius: 6px;
  color: white;
    &:hover {
      border-color: white;
    }
}

// BANNER
.btn-homepage {
  background-color: #1E3658;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  position: relative;
  z-index: 2;
  min-width: 150px;

  &:hover {
    background-color: #F79F79;
    color: white;
   }
}

// DASHBOARD
.btn-add {
  height: 30px;
  width: 30px;
  background-color: white;
  color: #F79F79;
  border: solid 1px;
  border-color: #F79F79;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 19px;
  right: 19px;
  z-index: 1;

  &:hover {
    background-color: #F79F79;
    color: white;
  }
}
