.dashboardMain {
  display: grid;
  grid-template-columns: 2.4fr 1.5fr 2.5fr;
  grid-template-rows: repeat(8, 1fr );
  height: 100vh;
  width: 100%;
  padding: 20px;
  padding-top: 45px;
  background-color: #F3F5FF;
}

//CSS de chaque boîte
.dashboardBox {
  position: relative;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  justify-self: stretch;
  align-self: stretch;
  padding: 19px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

//CSS pour la boîte d'info et toutes ses dépendences
.boxInfo {
  grid-area: 1/1/4/3;
  background-color: rgb(247,206,140);
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: repeat(3, 1fr);
}

.boxTransportations {
  grid-area: 4/1/6/2;
  #titleCardTransportations {
    color: var(--transportation)
  }
}

.boxAccomodations {
  grid-area: 6/1/9/2;
  #titleCardAccomodations {
    color: var(--accomodations)
  }
}

.boxPeople {
  grid-area: 7/2/9/3;
  #titleCardPeople {
    color: var(--people)
  }
}

.boxExpenses {
  grid-area: 4/2/7/3;
  overflow: hidden;
  #titleCardExpenses {
    color: var(--expenses)
  }
}

.boxPhotos {
  grid-area: 6/3/9/4;
  padding: 0;
}

.boxEvents {
  grid-area: 1/3/6/4;
  #titleCardEvents {
    color: var(--events);
  }
}

@media (max-width:600px) {
  .dashboardMain {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .dashboardBox {
    margin: 7px;
    max-height: 25vh;
  }

  .boxInfo {
    grid-area: 1/1/2/3;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1.6fr 1fr;
  }

  .boxTransportations {
    grid-area: 2/1/3/2;
  }

  .boxAccomodations {
    grid-area: 2/2/3/3;
  }

  .boxPeople {
    grid-area: 3/2/4/3;
  }

  .boxExpenses {
    grid-area: 4/2/5/3;
    overflow: hidden;
  }

  .boxPhotos {
    grid-area: 4/1/4/2;
    padding: 0;
  }

  .boxEvents {
    grid-area: 3/1/4/2;
  }
}
