.navbar {
  position: fixed;
  width: 100vw;
  z-index: 5;
  top: 0;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-white {
  background-color: white;
}

#dropdown-menu-avatar {
  border-radius: 10px;

}

#dropdown-item-avatar {
  font-size: 18px;
}

// for iphone
@media (min-width:100px) and (max-width:480px) {
  #my-trips-btn {
    display: none;
  }
}
