.tripsIndexBanner {
  margin-bottom: 20px;
  padding-top: 10vh;
  background-size: cover;
  background-position: center;
  height: 45vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2020/02/16/07/55/beach-4852830_1280.jpg);
  button {
    height: auto;
    width: 20%;
    padding: 8px 24px;
    border-radius: 6px;
    background-color: #A6DADE;
    border: none;
    transition: transform 0.2s;
    box-shadow: none;
    &:hover {
      transform: scale(1.05);
    }
  }
  .buttonPlacer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #indexBannerTitle {
    margin: 5%;
    margin-bottom: 50px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
}

.tripList {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2em;
  padding: 20px 0px;
  grid-auto-columns: minmax(30%, 30%);
  overflow-x: auto;
}
@media (max-width: 768px) {
  .tripList {
    grid-gap: 1em;
    grid-auto-columns: minmax(80%, 80%);
  }
}
// when no trip

.noComingTrip {
  text-align: center;
  margin-top: 20px;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.04);
    .roundPlus {
      border: 2px solid rgba(0,0,0,1);
    }
  }
}

.roundPlus {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noPastTrip {
  text-align: center;
  margin-top: 20px;
}


// trip index card

.tripCard {
  border-radius: 18px;
  background   : #F3F5FF;
  box-shadow   : 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor       : pointer;
  transition   : transform 0.4s;
  height: 230px;
  background-position: center;
  background-size: cover;
  margin: 0px 20px;
}


.tripCardTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  h1 {
    text-decoration: none!important;
  }
}

.tripCardPhoto {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
  border-radius: 5px;
  object-fit: cover;
  width: 100%
}

// tripCard hover
.tripCard:hover {
  transform: translateY(-10px) scale(1.03);
  border-radius: 20px;
  .tripCardTitle {
    display: none;
  }
  .tripCardDetails {
    display: block;
  }
  .dropdownBox {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0px;
      align-items: center;
    }
  }
}

.tripCardDetails {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.tripCardDetailsDates {
  margin-bottom: 20px;
}
.tripCardDetailsTitle {
  height: 25%;
  overflow: hidden;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.tripCardDetailsDescription {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 26%;
  text-overflow: ellipsis;
}


//nav-link
.indexNav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav-tabs {
  width: 30%;
  justify-content: space-between;
  align-self: center;
  border: none;
  margin-bottom: 20px;
    .nav-link {
      width: auto;
      color: #F79F79;
      border: 1px solid #F79F79;
      background: none;
      border-radius: 3px;
    }
    .nav-link.active {
      color: white;
      background-color: #F79F79;
    }
    .nav-link:focus {
      color: white;
      background-color: #F79F79;
    }
    .nav-link:hover {
      border-color: #F79F79;
    }
}
// Pour iphone

@media (max-width:600px) {
  .tripsIndexBanner {
    height: 60vh;
    button {
      width: 50%;
    }
    h1 {
      margin-top: 10vh;
    }
  }
  .nav-tabs {
    width: 80%;
    font-size: small;
  }

  .roundPlus {
    height: 40px;
    width: 40px;
  }
}

@media (min-width:601px) and (max-width:1100px) {
  .nav-tabs {
    width: 50%;
    font-size: small;
  }
}
